body {
    margin: 10px;
}


.box {
    width: 200px;
    height: 200px;
    background: blue;
    border: 10px dotted black;
    border-top: 20px solid green;
    border-right: 10px solid gray;
    border-bottom: 15px dashed plum;
    border-width: 20px, 10px, 15px, 10px; /* Top Right Bottom Left */
    border-radius: 100%;
}